body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto; /* Add this line to enable scrolling when the content is larger than the viewport */
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 800px; /* Add this line to limit the maximum width of the container */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Add this line to add space between tables */
}

th, td {
    border: 0px solid #ddd;
    padding: 10px; /* Reduce padding to 10px */
    text-align: center;
    white-space: nowrap; /* Add this line to prevent the text in the cells from wrapping */
}

@media screen and (max-width: 600px) {
    th, td {
        white-space: normal; /* Allow the text to wrap when the screen width is 600px or less */
    }
}

img {
    width: 50px;
    height: 50px;
}

#stations {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.station {
    cursor: pointer;
    background-color: #1F3D74;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.station:hover {
    background-color: #ddd;
}

/* General button style */
.btn {
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 10px 50px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 20px;
  }
  
  .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* Button 1 */
  .btn-1 {
    background: #1F3D74;
    color: #fff;
  }
  
  .btn-1:hover {
    background: #11203d;
  }
  
  #countdownText {
    font-style: italic;
    font-size: 0.8em;
    color: #888;
}





*{
    box-sizing: border-box;
  }
  body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #1d1e22;
    font-family: 'Lato' !important;
    overflow: auto; /* Add this line to enable scrolling when the content is larger than the viewport */
  }
  .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #1F3D74;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  